{% extends 'base.html' %}
{% block content %}

    <p style = "margin-top:80px;font-size:16px;">
    Hi {{ session['username'] }}!
     <a href="/logout" style="font-size:16px;text-decoration:none;">(Logout)</a>
    </p>

    <h1>Restaurants</h1>
    <div id ="vendors">
       {% for vendor in vendorData %}
        <div class = "vendor">
          <div class = "main-vendor-content">
          <div class = "info">
            <span class="vendorID">
              {{ vendor['vname'] }}
            </span>
          <div class = "picture">
              <img src = {{ vendor['icon'] }} />
          </div>
          <div class = "description">
            <div class = "vendor-address">
              {{ vendor['address'] }}
              <p>
              {{ vendor['cName'] }}
            </div>
            <br>
            <span class="likes" style="font-size:10px;">
              <i class="fa fa-heart fa-1" style="color:red;" aria-hidden="true">
                {% if vendor['vID'] in userLikesData.keys() and userLikesData[vendor['vID']]['users']|length > 0 and (session['username'] in userLikesData[vendor['vID']]['users']) %}
                    <a href = "/unlike-restaurant/{{ vendor['vID'] }}" class="unlikelink" style="font-size:14px;color:#ff5c50;"> unlike</a>
                {% else %}
                    <a href = "/like-restaurant/{{ vendor['vID'] }}" class="likelink" style="font-size:14px;color:#ff5c50;"> like</a>
                {% endif %}
              </i>
            </span>
            <div class = "vendor-reviews">
              {% if session['reviews'][vendor['vID']]|length > 0 %}
                  {% for rev in session['reviews'][vendor['vID']] %}
                    <p>
                      {{ rev['author'] }} <b> {{ rev['rating'] }} </b>
                      <br>
                      {{ rev['description'] }}
                    </p>
                  {% endfor %}
              {% endif %}
            </div>
          </div>

        </div>
        </div>
       {% endfor %}
    </div>
{% endblock %}
